.home {
  width: 100vw;
  position: relative;
  justify-content: center;
}
.home-img {
  width: 100%;
  position: absolute;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.home-v {
  position: absolute;
  width: 100%;
  background: url("../../Images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  font-size: 80px;
  color: white;
  font-weight: 700;
  align-self: center;
  div {
    margin-top: 10vh;
  }
}
