@import "../../../styles/_box-shadow.scss";
.events-head {
  font-size: 60px;
  font-weight: 600;
  font-family: freestyle;
}
.events {
  //background: #ffd6f1;
  //background: #e65177;
  //background: #ef91ff;
  padding: 20px;
}
.events-main {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .event-card {
    width: 320px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    font-family: "Roboto Slab", serif;

    // box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    //   6px 6px 20px rgba(0, 0, 0, 0.1);
    box-shadow: $BoxShadow;
    .event-img {
      img {
        width: 100%;
        border-radius: 15px;
      }
    }
    .event-content {
      text-align: center;
      padding: 10px 30px;
      .event-details {
        padding: 10px;
        .event-time {
          span {
            font-weight: 700;
          }
        }
      }
      h2 {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .event-card {
      display: grid;
      grid-template-columns: auto;
      width: 450px;
    }
  }
}
