@import "../../../styles/_box-shadow.scss";

.event {
  background-color: #fff;
  margin: 30px;
  margin-top: 100px;
  box-shadow: $BoxShadow;
  border-radius: 20px;
  .event-single-head {
    font-size: 45px;
    font-weight: 600;
    font-family: freestyle;
  }
  .event-single-main {
    display: flex;
    padding: 30px;
    img {
      height: 300px;
      margin: 30px;
      border-radius: 20px;
    }
    .event-single-right {
      padding: 30px;
      margin: 10px;
      margin-top: 0px;
      text-align: left;
      .but-event {
        margin-top: 10px;
      }
    }
    .event-details {
      font-weight: 700;
      color: #2e54d6;
    }
  }
  h2 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 800px) {
  .event-single-main {
    display: flex;
    flex-direction: column;
  }
}
